body {
    font-family: Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #f2f2f2;
}

.topnav {
    overflow: hidden;
    background-color: #222;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
    height: 50px; /* Adjust the height here */
    display: flex;
    align-items: center;
    justify-content: center;
}

.topnav a {
    float: none; /* Remove float to center the menu */
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 0 16px; /* Adjust padding if needed */
    text-decoration: none;
    line-height: 50px; /* Adjust line-height to match the height */
}

.topnav a.active {
    background-color: #7e4700;
    color: white;
}

.topnav a:hover {
    background-color: #7e47003f;
    color: white;
}

img.logo {
    width: 150px;
    height: auto;
}

.topnav .logo {
    padding: 2px 10px; /* Adjust padding to fit within the height */
}

.sidebar {
    margin: 0;
    padding: 0;
    width: 250px;
    background-color: #222;
    position: fixed;
    top: 50px; /* Adjust based on the height of the topnav */
    height: calc(100% - 50px); /* Adjust based on the height of the topnav */
    overflow: auto;
}

.sidebar h2 {
    padding: 15px;
    text-align: center;
    background: #000;
    color: white;
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li a {
    display: block;
    color: #f2f2f2;
    padding: 8px 16px;
    text-decoration: none;
}

.sidebar ul li a.active {
    background-color: #7e4700;
    color: white;
}

.sidebar ul li a:hover:not(.active) {
    background-color: #7e47003f;
    color: white;
}

.main-content {
    margin-left: 260px;
    padding: 20px;
    padding-top: 70px; /* Adjust padding to ensure content is not hidden behind topnav */
}

#content {
    background-color: #444;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.navigation-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.navigation-buttons button {
    background-color: #7e4700;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

.navigation-buttons button:hover {
    background-color: #7e4700d0;
}
